<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>姓名案例</title>
    <script type="text/javascript" src="../js/vue.js"></script>
    <style>
    </style>
</head>

<body>
    <div id="root">
        姓：<input type="text" v-model="firstName"><br />
        名：<input type="text" v-model="lastName"><br />
        姓名：<span>{{fullName}}</span>
    </div>
</body>
<script type="text/javascript">
    Vue.config.productionTip = false
    const vm = new Vue({
        el: '#root',
        data: {
            firstName: '张',
            lastName: '三',
            fullName: '张-三'
        },
        watch: {
            firstName(val) {
                setTimeout(() => {
                    this.fullName = val + '-' + this.lastName
                }, 1000)
            },
            lastName(val) {
                setTimeout(() => {
                    this.fullName = this.firstName + '-' + val
                }, 1000)
            }
        }
    })
    console.log(vm)
</script>

</html>