<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <title>姓名案例</title>
  <script type="text/javascript" src="../js/vue.js"></script>
  <style></style>
</head>

<body>
<div id="root">
  <!-- 可以用来遍历数组，对象，字符串 -->
  <h2>员工列表</h2>
  <input type="text" placeholder="请输入要查询的人员名" v-model='keyWord'>
  <ul>
    <li v-for='(p,index) in filterPerson' :key='index'>
      {{p.name}}-{{p.age}}-{{p.sex}}
    </li>
  </ul>
</div>
</body>
<script type="text/javascript">
  Vue.config.productionTip = false
  // 使用侦听实现
  /*
      const vm = new Vue({
          el: '#root',
          data: {
              keyWord: '',
              persons: [
                  {id: '001', name: '马冬梅', sex: '女', age: 18},
                  {id: '002', name: '周冬雨', sex: '女', age: 19},
                  {id: '003', name: '周杰伦', sex: '男', age: 20},
                  {id: '003', name: '温兆伦', sex: '男', age: 20}
              ],
              filterPerson: []
          },
          watch: {
              keyWord: {
                  immediate: true,
                  handler(val) {
                      this.filterPerson = this.persons.filter((p) => {
                          return p.name.indexOf(val) !== -1
                      })
                  }
              }

          }
      })
  */
  // 使用计算属性实现
  const vm = new Vue({
    el: '#root',
    data: {
      keyWord: '',
      persons: [
        {id: '001', name: '马冬梅', sex: '女', age: 18},
        {id: '002', name: '周冬雨', sex: '女', age: 19},
        {id: '003', name: '周杰伦', sex: '男', age: 20},
        {id: '003', name: '温兆伦', sex: '男', age: 20}
      ],
    },
    computed: {
      filterPerson() {
        return this.persons.filter((p) => {
          return p.name.indexOf(this.keyWord) !== -1
        })
      }
    }
  })

</script>

</html>
