<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <title>姓名案例</title>
  <script type="text/javascript" src="../js/vue.js"></script>
  <style></style>
</head>

<body>
<div id="root">
  <!-- 可以用来遍历数组，对象，字符串 -->
  <h2>员工列表</h2>
  <input type="text" placeholder="请输入要查询的人员名" v-model='keyWord'>
  <button @click="sortType = 1">年龄升序</button>
  <button @click="sortType = 2">年龄降序</button>
  <button @click="sortType = 0">原始顺序</button>
  <ul>
    <li v-for='(p,index) in filterPerson' :key='p.id'>
      {{p.name}}-{{p.age}}-{{p.sex}}
    </li>
  </ul>
</div>
</body>
<script type="text/javascript">
  Vue.config.productionTip = false
  // 使用侦听实现

  // 使用计算属性实现
  const vm = new Vue({
    el: '#root',
    data: {
      keyWord: '',
      sortType: 0,
      persons: [
        {id: '002', name: '周冬雨', sex: '女', age: 29},
        {id: '001', name: '马冬梅', sex: '女', age: 38},
        {id: '003', name: '周杰伦', sex: '男', age: 20},
        {id: '003', name: '温兆伦', sex: '男', age: 20}
      ],
    },
    computed: {
      filterPerson() {
        const v = this.persons
          .filter((p) => {
            return p.name.indexOf(this.keyWord) !== -1
          })
        if (this.sortType) {
          v.sort((a, b) => {
            return this.sortType === 1 ? a.age - b.age : b.age - a.age;
          })
        }
        return v
      }
    },
  })

</script>

</html>
