<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <title>姓名案例</title>
  <style></style>
  <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
<div id="root">
  <h1>学生信息</h1>
  <button @click="addAge">年龄+1岁</button>
  <br/>
  <button @click="addSex">添加性别属性，默认：男</button>
  <br/>
  <button @click="changeSex">修改性别</button>
  <br/>
  <button @click.once="addFriend">再列表首位添加一个朋友</button>
  <br/>
  <button @click="modifyFriendName">修改第一个朋友的名字为：张三</button>
  <br/>
  <button @click.once="addHobby">添加一个爱好</button>
  <br/>
  <button @click="modifyFirstHobby">修改第一个爱好为：开车</button>
  <br/>
  <h3>姓名：{{student.name}}</h3>
  <h3>年龄：{{student.age}}</h3>
  <h3 v-show="student.sex">性别：{{student.sex}}</h3>
  <h3>爱好：</h3>
  <ul>
    <li v-for="(h,index) in student.hobby" :key="index">
      {{h}}
    </li>
  </ul>
  <h3>朋友：</h3>
  <ul>
    <li v-for="(f,index) in student.friends" :key="index">
      {{f.name}}-{{f.age}}
    </li>
  </ul>
</div>
</body>

<script type="text/javascript">
  Vue.config.productionTip = false
  const vm = new Vue({
    el: '#root',
    data: {
      student: {
        name: 'yuv',
        age: 19,
        hobby: ['唱歌', '跳舞', 'rap'],
        friends: [
          {name: 'jerry', age: 19},
          {name: 'tom', age: 29}
        ]
      },
    },
    methods: {
      addAge() {
        this.student.age++
      },
      addSex() {
        Vue.set(this.student, 'sex', '男')
      },
      changeSex() {
        this.student.sex = this.student.sex === '男' ? '女' : '男'
      },
      addFriend() {
        this.student.friends.unshift({name: 'jeason', age: 30})
      },
      modifyFriendName() {
        this.student.friends[0].name = '张三'
      },
      addHobby() {
        this.student.hobby.push('打篮球')
      },
      modifyFirstHobby() {
        // this.student.hobby.splice(0, 1, '开车')
        // Vue.set(this.student.hobby, 0, '开车')
        this.$set(this.student.hobby, 0, '开车')
      }
    }
  })
</script>
</html>
